In [9]:
# Write lambdas to:
# a. Square a number x2

# Answer 1

a = [2]
r = map(lambda x : x**2, a)
print(list(r))

# Answer 2

f = lambda x : x**2

print(f(10))

[4]
100

In [11]:
# b. Inverse a number 1/x

f = lambda x : 1/x

print(f(10))

0.1

In [12]:
# c. Negate a number 

f = lambda x : -x

print(f(10))

-10

In [15]:
# Use reduce function and an appropriate lambda to find the maximum number in a list

from functools import reduce

a = [2, 43, 6, 87, 5]

r = reduce(lambda x,y : x if x>y else y, a)
print(r)

87

In [32]:
# Write a function map_multiple that takes a list of functions/lambdas as first argument and a
# sequence type as second argument.
#The function picks first lambda from list, applies it to first element, then applies the second
# function to the result of first one and ….
# Similarly it does for each element and generates a mapping of input to output
#            def map_multiple(functs, sequence):
             # write definition here
# Ex: let list of lambdas be from question 1 and the list on numbers be [1,2,4]
# So first function gives [1, 4, 16]
# Second gives [1, 0.25, 0.0625]
# Third gives [-1, -0.25, -0.0625]. Which is the final result. 

# Answer 1:
    
seq = [1,2,4]

def map_multiple(funct, sequence):
    res = []
    for v in sequence:
        res.append( funct(v))
    return res
    
def square(x):
    return x**2

def inverse(x):
    return 1/x

def negate(x):
    return -x

r = map_multiple(square, seq)
print(r)

i = map_multiple(inverse, r)
print(i)

n = map_multiple(negate, i)
print(n)

[1, 4, 16]
[1.0, 0.25, 0.0625]
[-1.0, -0.25, -0.0625]

In [43]:
# Answer 2:
    
seq = [1,2,4]

m = map(lambda x : x**2, seq)
m1= list(m)
print(m1)

n = map(lambda x : 1/x, m1)
n1=list(n)
print(n1)

o = map(lambda x : -x, n1)
o1=list(o)
print(o1)

[1, 4, 16]
[1.0, 0.25, 0.0625]
[-1.0, -0.25, -0.0625]

In [44]:
# Answer 3:

functs = [lambda x : x**2, lambda x : 1/x, lambda x : -x]
seq = [1,2,4]

ans =[]
for num in seq:
    res = num
    for funct in functs:
        res = funct(res)
    ans.append(res)
print(ans)

[-1.0, -0.25, -0.0625]

In [ ]:
# Predict the output of following code:
# 50

In [45]:
# Find output of following:
# [1.0, 0.5, 0.25, 0.125]

functs = [lambda x : x**0.5, lambda x : 1/x]
l = [1, 4, 16, 64]

ans =[]
for num in l:
    res = num
    for funct in functs:
        res = funct(res)
    ans.append(res)
print(ans)

[1.0, 0.5, 0.25, 0.125]

In [58]:
# Use filter function to filter a list of numbers and strings such that the result contains only
# numbers. (Hint : Use isinstance method) 
# not working

a = input("enter a string or numbers: ")
a1 = a.split()
print(list(a1))

# f = filter(lambda x : x, isinstance['123','12','43',..], a)

f = filter(lambda x : x if str.isdigit else y, a1)
print(list(f))

enter a string or numbers: 1 2 3 abc 456 def
['1', '2', '3', 'abc', '456', 'def']
['1', '2', '3', 'abc', '456', 'def']

In [ ]:
# Assume a list containing heights ft and inches in the form of a list of string
# Example : l = [‘5ft10in’, ‘5ft’, ….]
# Write a function to convert the heights to meter. Use map function along with your function to
# convert everything to m

In [ ]:
# Write the implementation for the map function yourself by the name my_map()