In [1]:
#Convert a Tuple  to a list
t = (1,2,3,4,5)
l=list(t)
print(type(t))
print(type(l))
print(l)

<class 'tuple'>
<class 'list'>
[1, 2, 3, 4, 5]

In [2]:
# WAP to join a list and a tuple:
# L = [1,3,5,7]
#  T = (8,6,4,2)

L = [1,3,5,7]
T = (8,6,4,2) 
t=list(T)
a=L+t
print(type(a))
print(a)

<class 'list'>
[1, 3, 5, 7, 8, 6, 4, 2]

In [3]:
# Print the list in reverse order
#  l = [‘a’, ‘d’, ‘c’, ‘A’, ‘C’] 

l = ['a', 'd', 'c', 'A', 'C'] 
reverse=l[::-1]
print(reverse)

['C', 'A', 'c', 'd', 'a']

In [9]:
# Print Elements at Odd indexes from a list (Do not use loop) 
l = [10,11,20, 21,30, 31, 40, 41]
l[1::2]

[11, 21, 31, 41]

In [11]:
# #Q7

# a
# 5

In [12]:
# #Q8
# [1, 4, 6, 8]
# [1, 3, 5, 7]

In [13]:
# #Q9


# [1, 3, 5, [7, 9]]
# [1, 3, 5, [7, 9], 11, 13]

In [14]:
#Q10
# <class 'int'>
# <class 'int'>
# <class 'int'>
# <class 'tuple'>

In [15]:
import numpy as np
a=np.arange(1,10)
a.reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [16]:
# Q12
# ('s', 't', 'r', 'i', 'n', 'g')
# ('g', 'n', 'i', 'r', 't', 's')
# ('t', 'g')

In [18]:
# Q13

# True
# False
# 1
# 3

In [19]:
#Write a program to input a string and print if it is palindrome or not.

a=input("Enter the string:- ")
b=a[::-1]
if a !=b:
    print("Not a pallandrome")
else:
    print("Entered string is a pallandrome")

Enter the string:- DAD
Entered string is a pallandrome

In [20]:
#15. Use the range method and create a tuple containing the following values:
#(20, 15, 10, 5) 
a=[]
for i in range(5,25,5):
    a.append(i)
b=a[::-1]
c=tuple(b)
print(type(c))
print(c)

<class 'tuple'>
(20, 15, 10, 5)

In [21]:
#16. WAP to convert string to list of characters

string=input("Enter the string :- ")
l=string.split()
l=list(l)
print(l)
print(type(l))

Enter the string :- Legend Never Dies
['Legend', 'Never', 'Dies']
<class 'list'>

In [ ]:
# Q17

# LIST
# NONE
# STR
# BOOL