In [16]:
#Q1
#Solution

in_str = input("Enter a string: ")

for c in in_str:
    print(c, end = ',')

Enter a string: Good Morning
G,o,o,d, ,M,o,r,n,i,n,g,

In [17]:
#Q2
#Solution

in_str = input("Enter a string: ")

for c in in_str:
    print(ord(c), end = ',')

Enter a string: Good Morning
71,111,111,100,32,77,111,114,110,105,110,103,

In [22]:
#Q3
#Solution

def odd_sum(num_list):
    sumN=0
    for i in list(filter(lambda x: (int(x)%2 != 0),num_list)):
        sumN=sumN+int(i)
    return sumN

in_num = input("Enter the list of numbers separated by ',': ").split(',')

print(odd_sum(in_num))

Enter the list of numbers separated by ',': 22,23,24,25,26
48

In [30]:
#Q4
#Solution

in_num_t = tuple([int(i) for i in input("Enter the list of numbers separated by ',': ").split(',')])
in_num = int(input("Enter a number from list: "))

print(in_num_t.index(in_num))

Enter the list of numbers separated by ',': 22,23,24,25,26
Enter a number from list: 24
2

In [39]:
#Q5
#Solution

random_list = [25, 63, 34, 73, 56, 97, 19, 41, 86, 68]

print(random_list)
sumN=0
for number in random_list:
    sumN = sumN + number
avg=sumN/10
print("Sum:", sumN)
print("Average:",avg)

[25, 63, 34, 73, 56, 97, 19, 41, 86, 68]
Sum: 562
Average: 56.2

In [2]:
#Q6
#Solution

num_list=[]

for count in range(10):
    temp = int(input("Enter number "+str(count+1)+ ": "))
    num_list.append(int(temp))

print(num_list)
Sum=sum(num_list)
print(Sum)

Enter number 1: 26
Enter number 2: 24
Enter number 3: 56
Enter number 4: 35
Enter number 5: 48
Enter number 6: 69
Enter number 7: 48
Enter number 8: 396
Enter number 9: 877
Enter number 10: 63
[26, 24, 56, 35, 48, 69, 48, 396, 877, 63]
1642

In [3]:
#Q7
#Solution

tab_n = int(input("Enter the number: "))

for i in range(1,11):
    print(tab_n,'x',i,'=',tab_n*i)

Enter the number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [4]:
#Q8
#Solution

in_str = input("Enter a string: ")
count = 0
for char in in_str:
    if char.isspace():
        count+=1
print(count)

Enter a string: The sun sets in the west
5

In [7]:
#Q9
#Solution

in_str = input("Enter a string: ")
count = 0
for char in in_str:
    if char in "aeiouAEIOU":
        count+=1
print(count)

Enter a string: The sun rises in the East
8

In [9]:
#Q10
#Solution

in_str = input("Enter a string: ")
for char in in_str:
    if char in "aeiouAEIOU":
        in_str=in_str.replace(char,'_')
print(in_str)

Enter a string: The sun rises in the East
Th_ s_n r_s_s _n th_ __st

In [12]:
#Q11
#Solution

Num :  0
Loop Ends

Num :  0
SystemExit

In [12]:
#Q12
#Solution

#Question Left top
*****
*****
*****
*****
*****

#Question Left bottom
1
22
333
4444
55555

#Question Right top
1
22
333
4444
55555

#Question Right bottom
**
***
****
*****
******

In [27]:
#Q13
#Solution

from random import randrange
randNumList = [randrange(10,50) for i in range(10)]
print(randNumList)
print("Sum:",sum(randNumList))

for i in range(5):
    randNumList.remove(max(randNumList))
print(randNumList)

[32, 22, 41, 35, 34, 34, 12, 42, 41, 18]
Sum: 311
[32, 22, 34, 12, 18]