## Factorial

n! -> 1 * 2 * 3... *  (n-1) * n

4! -> 1*2*3*4 -> 4*3*2*1

In [7]:
n = int(input("enter a number:"))

ans = 1
for i in range(1, n+1):
    ans = ans * i
    
print(f"{n}! = {ans}")

enter a number:3
3! = 6

In [5]:
print(list(range(10)))
print(list(range(10 + 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

given 'n'

sum = 0
from 1 till n
    sum = sum + n!

In [11]:
n = int(input("enter a number:"))

ans = 0
for i in range(1, n+1):
    fact = 1
    for j in range(1, i+1):
        fact *= j
    ans += fact
    
print(f"Sum of series = {ans}")

# if n = 3
# i  j
# 1  1
# 2  1
# 2  2
# 3  1
# 3  2
# 3  3

enter a number:4
Sum of series = 33

In [12]:
n = int(input("enter a number:"))

ans = 0
fact = 1
for i in range(1, n+1):
    fact *= i
    ans += fact
    
print(f"Sum of series = {ans}")

# 4! = 4 * 3! = 4 * 3 * 2!...

enter a number:4
Sum of series = 33

## Patterns

In [13]:
for i in range(5):
    print("*")

*
*
*
*
*

In [14]:
for i in range(5):
    print("*", end='')

*****

In [15]:
for i in range(5):
    print("*", end=' ')

* * * * *

In [17]:
for i in range(5):
    for j in range(5):
        print("*", end='')

*************************

In [18]:
for i in range(5):
    print("*", end='')
for j in range(5):
    print("*", end='')

**********

In [19]:
for i in range(5):
    print("*", end='')

print()
for j in range(5):
    print("*", end='')

*****
*****

In [20]:
for i in range(5):
    for j in range(5):
        print("*", end='')
        print()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [21]:
for i in range(5): # -> no. of lines
    for j in range(5): # -> no. of symbols in a line
        print("*", end='') 
    print()  # -> this adds the line break

*****
*****
*****
*****
*****

In [22]:
for i in range(5): # -> no. of lines
    for j in range(i): # -> no. of symbols in a line
        print("*", end='') 
    print()  # -> this adds the line break

*
**
***
****

In [23]:
for i in range(5): # -> no. of lines
    for j in range(i+1): # -> no. of symbols in a line
        print("*", end='') 
    print()  # -> this adds the line break

*
**
***
****
*****

In [24]:
for i in range(5):
    for j in range(i+1):
        print(j, end='') 
    print()

0
01
012
0123
01234

In [26]:
for i in range(1,5+1):
    for j in range(i):
        print(i, end='')
    print()

1
22
333
4444
55555

In [49]:
for i in range(1,5+1):
    print(str(i) * i)

1
22
333
4444
55555

In [29]:
for i in range(5):
    for j in range(i + 1):
        print(j+1, end='')
    print()

1
12
123
1234
12345

In [30]:
for i in range(5):
    for j in range(i + 1):
        print(5-i, end='')
    print()

5
44
333
2222
11111

In [34]:
for i in range(5,0,-1):
    for j in range(i,5+1):
        print(i, end='')
    print()

5
44
333
2222
11111

In [36]:
for i in range(5, 0, -1):
    for j in range(i):
        print("*", end='')
    print()

*****
****
***
**
*

In [40]:
for i in range(5):
    for j in range(5-i):
        print("*", end='')
    print()

print()
for i in range(5): # -> no. of lines
    for j in range(i+1): # -> no. of symbols in a line
        print("*", end='') 
    print()  # -> this adds the line break

*****
****
***
**
*

*
**
***
****
*****

In [42]:
for i in range(5):
    for j in range(5-i): # spaces
        print(" ", end='')
    for j in range(i+1): # print *
        print("*", end='') 
    print()

     *
    **
   ***
  ****
 *****

In [43]:
for i in range(5):
    for j in range(5-i): # spaces
        print(" ", end='')
    for j in range(i+1): # print *
        print("* ", end='') 
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [47]:
start = 65 # for A
end = 70 # for E
n=6   

for i in range(start,end): # outer loop for 5 rows 
    n = n -1
    for j in range(n,1,-1): # loop # 1 to print spaces for each row     syntax  ===> range(start, stop[, step])
        print(" ",end=" ")
    for j in range(start,i+1): # loop # 2 to print actual alphabet values
        print(chr(j),end=" ")
    for j in range(i-1, start -1, -1): # loop # 3 to print again alphabet starting from 65
        print(chr(j),end=" ")
    print()

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

In [52]:
list1 = input("enter the list  ")
list1 = list1.split(",")
t = tuple(list1)
print('tutple', t)
n = int(input('enter the number to check whether its present in tuple or not   '))

if str(n) in t:
    index = t.index(str(n))
    print("index is ", index )
else:
    print("not found")

enter the list  1,2,3
tutple ('1', '2', '3')
enter the number to check whether its present in tuple or not   4
not found